target/

__pycache__/
.mypy_cache/
.pytest_cache/
.coverage_report*/
.test_*

*.lcov

/docs/**/article.md
/docs/2.developers/?.API-docs
/docs/2.developers/?.documentation
.yarn
*.csv
!output_stream.csv
