[graph]
exclude = [
    "abomonation", # vendorized fork
    "differential-dataflow" # vendorized fork
]

[licenses]
allow = [
    "Apache-2.0",
    "Apache-2.0 WITH LLVM-exception",
    "BSL-1.0",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "CC0-1.0",
    "CDLA-Permissive-2.0",
    "ISC",
    "MIT",
    "MPL-2.0",
    "Unicode-3.0",
    "Zlib"
]

[[licenses.exceptions]]
allow = ["BUSL-1.1"]
name = "pathway"

[advisories]
unmaintained = "none"
